{% extends "base.html" %}

{% block title %} Clientes {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5">Formulario de pedido</h2>
        </div>
        <div class="row">
            <div class="col-8 card p-3 shadow-sm">
                <form action="{% url 'process_order' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Producto:</label>
                                <select class="form-select" name="product_id" required>
                                    <option selected>Lista de productos</option>
                                    {% for product in products %}
                                    <option value="{{ product.id }}">
                                        {{ product.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Cliente:</label>
                                <select class="form-select" name="customer_id" required>
                                    <option selected>Lista de clientes</option>
                                    {% for customer in customers %}
                                    <option value="{{ customer.id }}">
                                        {{ customer.first_name }} {{ customer.last_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="form-label">Cantidad:</label>
                                <input type="number" class="form-control" id="amount" name="amount" min="1" required>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Precio:</label>
                                <input type="text" class="form-control" id="price" name="price" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="observation" class="form-label">Observación:</label>
                                <input type="text" class="form-control" id="observation" name="observation">
                            </div>
                            <div class="mb-3">
                                <label for="deadline" class="form-label">Fecha de entrega:</label>
                                <input type="date" class="form-control" id="deadline" name="deadline">
                            </div>
                            <div class="mb-3">
                                <label for="bill" class="form-label">Factura numero:</label>
                                <input type="text" class="form-control" id="bill" name="bill">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Agregar a pedidos</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}