{% extends "tables_base.html" %}

{% block tables_title %} 
<h3>Todos los pedidos</h3>
{% endblock %}

{% block table %}
<table id="myTable" class="table table-striped table-sm" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Producto</th>
            <th scope="col">Cliente</th>
            <th scope="col">°</th>
            <th scope="col">Precio</th>
            <th scope="col">P. Total</th>
            <th scope="col">Entrega</th>
            <th scope="col">Entregado</th>
            <th scope="col">Docm.</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if all_orders %}
        {% for order in all_orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.customer.first_name}} {{ order.customer.last_name}}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.calculate_total_price }}</td>
            <td>{{ order.deadline }}</td>
            {% if order.delivered == None %}
            <td style="color:red">Por entregar</td>
            {% else %}
            <td>{{order.delivered}}</td>
            {% endif %}
            <td>{{ order.bill }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                    data-bs-target="#delete{{order.id}}">
                    <i class="bi bi-trash3-fill"></i>
                </button>
                <div class="modal fade" id="delete{{order.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar el pedido:
                                    {{order.id}} </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estas seguro de eliminar el pedido: {{order.product.name}},
                                de cantidad {{order.amount}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger"
                                    href="{% url 'delete_order' id=order.id %}">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-warning btn-sm" href="{% url 'edit_order_form' id=order.id %}"
                    title="edit link">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                {% if order.delivered == None %}
                <a class="btn btn-success btn-sm" href="{% url 'order_delivered' id=order.id %}"
                    title="deliver link">
                    <i class="bi bi-check-circle-fill"></i>
                </a>
                {% else %}
                <a class="btn btn-secondary btn-sm" href="{% url 'order_delivered' id=order.id %}"
                    title="deliver link">
                    <i class="bi bi-x-circle-fill"></i>
                </a>
                {% endif %}
                <a class="btn btn-info btn-sm" href="{% url 'order_detail' id=order.id %}"
                    title="detail link">
                    <i class="bi bi-info-circle-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <p>No hay pedidos en la lista</p>
    {% endif %}
</table>
{% endblock %}